:root {
    --primary-dark: #2A3132;
    --primary-grey: #4e4e4e;
    --primary-blue: #3498db;
    --primary-gold: #daa520;
}

body {
    margin: 0;
    background: #fff;
}

.context-holder {
    margin: 0 auto;
    width: fit-content;
    align-content: center;
    display: flex;
    flex-direction: column; /* Arrange children in a vertical column */
    align-items: center;
}

.user-info {
    display: flex;
    padding: 12px;
    border-style: solid;
    border-color: #6f6f6f;
    border-radius: 12px;
    width: fit-content;
    margin: 3rem;
}

.chart-container {
    width: 30vw;
}

.diagram-container {
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(8, 100px);
    gap: 10px;
    position: relative;
    background: var(--primary-dark);
    width: fit-content;
    border-radius: 20px;
    padding: 12px;
}

.header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px;
    border-bottom: 1px solid #aaa;

}

.node {
    display: flex;
    flex-direction: column; /* Arrange children in a vertical column */
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    position: relative;
    width: 10vw;
    height: fit-content;
    background-color: white;
    color: var(--primary-grey);
    margin: auto;
    z-index: 1;
    padding: 8px;
    border-style: solid;
    border-color: var(--primary-gold);
    border-width: 2px;
    border-radius: 12px;
    align-content: center;
}

.node span {
    text-align: center;
    width: 100%;
}

#lineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.node-content {
    position: relative;
    top: -15px;
}

.procedures-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2A3132;
    margin: 10px;
    border-bottom: 1px solid #2A3132;
}

.procedures-header.diagram {
    width: 100%;
}

.procedure-tab {
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 36vw;
    background-color: var(--primary-dark);
    color: #fff;
    z-index: 1;
    padding: 10px;
    border-style: solid;
    border-color: var(--primary-gold);;
    border-width: 1px;
    border-radius: 12px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.procedure-tab:hover {
    background-color: #f0f0f0;
    color: var(--primary-dark);
}

.procedure-tab.expanded {
    background-color: #f0f8ff;
    border-color: var(--primary-grey);
    color: var(--primary-dark);
}

.procedure-tab.expanded .extra-info {
    display: block;
}

.procedure-tab.highlighted {
    background-color: #fff; /* Light green tint */
    color: var(--primary-dark);
    border-color: #36a2eb; /* Optional: Change border color */
}

.main-info {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.procedure-text {
    flex: 1;
    text-align: center;
}

.procedure-date {
    flex: 1;
    text-align: center;
}

.extra-info {
    display: none;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #85C8FF;
    border-radius: 0 0 12px 12px;
    font-size: 0.9em;
    color: #333;
}

.save-to-pdf-button, .settings-button {
    padding: 8px 15px;
    background-color: #fff;
    color: #763626;
    border-width: 2px;
    border-radius: 8px;
    border-color: #763626;
    cursor: pointer;
}

.save-to-pdf-button:hover, .settings-button:hover {
    background-color: palevioletred;
    color: #FFF;
}

@media (max-width: 780px) {
    /* For mobile phones */
    .diagram-container {
        grid-template-columns: repeat(3, 30vw); /* Single column */
        grid-template-rows: repeat(8, 80px); /* Stack nodes vertically */
        gap: 20px;
        width: 98vw; /* Full width for small screens */
        align-items: baseline;
    }

    .header {
        font-size: 14px; /* Smaller font for headers */
    }

    .node {
        width: 20vw;
        font-size: 18px;
        max-width: 20vw;
    }

    .node-procedure-name {
        display: none;
    }

    .node-procedure-date {
        font-size: 12px;
    }

    .procedure-tab {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 90%;
        z-index: 1;
        padding: 4px;
        border-style: solid;
        border-width: 1px;
        border-radius: 12px;
    }

    .procedure-text {
        margin: 1px;
        flex: 1; /* Makes all children take equal width */
        text-align: center; /* Centers the text in each section */
        padding: 8px;
        font-size: 18px;
    }

}