body {
    margin: 0;
    background: #fff;

}

.context-holder {
    margin: 0 auto;
    width: fit-content;
    align-content: center;
    display: flex;
    flex-direction: column; /* Arrange children in a vertical column */
    align-items: center;
}

.chart-container {
    width: 30vw;
}

.user-info {
    display: flex;
    padding: 12px;
    border-style: solid;
    border-color: #6f6f6f;
    border-radius: 12px;
    width: fit-content;
    margin: 3rem;
}


.diagram-container {
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(8, 100px);
    gap: 10px;
    position: relative;
    background: #2A3132;
    width: fit-content;
    padding: 12px;
    border-style: solid;
    border-color: #00246B;
    border-width: 2px;
    border-radius: 12px;
}

.header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    border-bottom: 1px solid #aaa;

}

.node {
    display: flex;
    flex-direction: column; /* Arrange children in a vertical column */
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    position: relative;
    width: 10vw;
    height: fit-content;
    background-color: white;
    color: #4e4e4e;
    margin: auto;
    z-index: 1;
    padding: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    border-radius: 12px;
    align-content: center;
}

.node span {
    text-align: center;
    width: 100%;
}

#lineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.node-content {
    position: relative;
    top: -15px;
}

.procedures-table {
    margin-top: 2rem;
}

.procedures-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2A3132;
    margin: 10px;
    border-bottom: 1px solid #2A3132;
}

.procedures-header.diagram {
    width: 100%;
}

.procedure-tab {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40vw;
    background-color: #253237;
    color: #fff;
    padding: 4px;
    border-style: solid;
    border-color: #6f6f6f;
    border-width: 1px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.procedure-tab:hover {
    background-color: #f0f0f0;
}

.procedure-text {
    margin: 8px;
    flex: 1; /* Makes all children take equal width */
    text-align: center; /* Centers the text in each section */
    padding: 0 5px;
}

.procedure-tab.highlight {
    background-color: #FFF;
    border-color: #9f9f9f;
    border-width: 3px;
    box-shadow: 0 2px 4px 0 #4e4e4e;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.save-to-pdf-button, .settings-button {
    padding: 8px 15px;
    background-color: #fff;
    color: #763626;
    border-width: 2px;
    border-radius: 8px;
    border-color: #763626;
    cursor: pointer;
}

.save-to-pdf-button:hover, .settings-button:hover {
    background-color: palevioletred;
    color: #FFF;
}

.additional-fields {
    display: none;
    margin-top: 10px; /* Space between the tab and the additional fields */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

@media (max-width: 780px) {
    /* For mobile phones */
    .diagram-container {
        grid-template-columns: repeat(3, 30vw); /* Single column */
        grid-template-rows: repeat(8, 80px); /* Stack nodes vertically */
        gap: 3vw;
        width: 95vw;
        height: fit-content;

    }

    .header {
        font-size: 14px; /* Smaller font for headers */
    }

    .chart-container {
        margin-bottom: 10px;
        width: 80vw;
    }

    .node {
        width: 25vw;
        font-size: 16px;
        max-width: 20vw;
        height: 10vh ;
        text-overflow: ellipsis;
    }

    .procedure-tab {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 90%;
        z-index: 1;
        padding: 4px;
        border-style: solid;
        border-color: #36a2eb;
        border-width: 1px;
        border-radius: 12px;
    }

    .procedure-text {

        margin: 1px;
        flex: 1; /* Makes all children take equal width */
        text-align: center; /* Centers the text in each section */
        padding: 8px;
        font-size: 18px;
    }

}